<div class="col-md-offset-3 col-md-6" ng-controller="GenreController">
    <h1>@ViewBag.Title</h1>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="genre in genres">
            <a href="/Home/Browse/{{genre.GenreId}}">{{genre.Name}}</a>
            <span class="badge">{{genre.Albums.length}}</span>
        </li>
    </ul>
</div>